@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "pod-styles";

/* LAYOUT */

body {
  margin-top: 60px;
  font-family: "Open Sans", sans-serif;
}

.flex {
  display: flex;
}

.flex--vertical {
  flex-direction: column;
}

// Pagination
.pagination {

  .disabled {
    pointer-events: none;
    a {
      color: gray;
    }
  }

  &-centered {
    justify-content: center;
    display: flex;
  }

  @extend .flex;
  list-style: none;

  li {
    padding: 5px;
    a {
      text-decoration: none;
    }
  }
}